# SQL Lesson 18: Dropping tables

Dans certains cas rares, vous souhaiterez peut-être supprimer une table entière, y compris toutes ses données et métadonnées, et pour ce faire, vous pouvez utiliser l' instruction **DROP TABLE**, qui diffère de l' instruction **DROP TABLE** en ce qu'elle supprime également entièrement le schéma de table de la base de données.

Instruction de suppression de table
``` mysql 
DROP TABLE IF EXISTS mytable;
```

Comme l' instruction **CREATE TABLE**, la base de données peut générer une erreur si la table spécifiée n'existe pas, et pour supprimer cette erreur, vous pouvez utiliser la clause **IF EXISTS**.

En outre, si vous avez une autre table qui dépend des colonnes de la table que vous supprimez (par exemple, avec une dépendance **FOREIGN KEY**), vous devrez d'abord mettre à jour toutes les tables dépendantes pour supprimer les lignes dépendantes ou supprimer complètement ces tables.

## Exercise

Nous avons atteint la fin de nos exercices, alors nettoyons en supprimant toutes les tables avec lesquelles nous avons travaillé.

**IMPORTANT : Afin de répondre aux questions de l'exercise d'insérer la requête entre les doubles quotes " "**

In [1]:
import pandas as pd

def to_df(s):
    l= [elt.split(';') for elt in s.replace("	", ";").split('\n')]
    return pd.DataFrame(l[1:], columns=l[0])

In [2]:
from pandasql import sqldf

In [3]:
x="""Id	Title	Director	Year	Length_minutes
1	Toy Story	John Lasseter	1995	81
2	A Bug's Life	John Lasseter	1998	95
3	Toy Story 2	John Lasseter	1999	93
4	Monsters, Inc.	Pete Docter	2001	92
5	Finding Nemo	Andrew Stanton	2003	107
6	The Incredibles	Brad Bird	2004	116
7	Cars	John Lasseter	2006	117
8	Ratatouille	Brad Bird	2007	115
9	WALL-E	Andrew Stanton	2008	104
10	Up	Pete Docter	2009	101
11	Toy Story 3	Lee Unkrich	2010	103
12	Cars 2	John Lasseter	2011	120
13	Brave	Brenda Chapman	2012	102
14	Monsters University	Dan Scanlon	2013	110"""
Movies = to_df(x)

In [4]:
Movies

    Id                Title        Director  Year Length_minutes
0    1            Toy Story   John Lasseter  1995             81
1    2         A Bug's Life   John Lasseter  1998             95
2    3          Toy Story 2   John Lasseter  1999             93
3    4       Monsters, Inc.     Pete Docter  2001             92
4    5         Finding Nemo  Andrew Stanton  2003            107
5    6      The Incredibles       Brad Bird  2004            116
6    7                 Cars   John Lasseter  2006            117
7    8          Ratatouille       Brad Bird  2007            115
8    9               WALL-E  Andrew Stanton  2008            104
9   10                   Up     Pete Docter  2009            101
10  11          Toy Story 3     Lee Unkrich  2010            103
11  12               Cars 2   John Lasseter  2011            120
12  13                Brave  Brenda Chapman  2012            102
13  14  Monsters University     Dan Scanlon  2013            110

In [5]:
y="""Movie_id	Rating	Domestic_sales	International_sales
5	8.2	380843261	555900000
14	7.4	268492764	475066843
8	8	206445654	417277164
12	6.4	191452396	368400000
3	7.9	245852179	239163000
6	8	261441092	370001000
9	8.5	223808164	297503696
11	8.4	415004880	648167031
1	8.3	191796233	170162503
7	7.2	244082982	217900167
10	8.3	293004164	438338580
4	8.1	289916256	272900000
2	7.2	162798565	200600000
13	7.2	237283207	301700000"""

In [6]:
BoxOffice = to_df(y)

In [7]:
BoxOffice

   Movie_id Rating Domestic_sales International_sales
0         5    8.2      380843261           555900000
1        14    7.4      268492764           475066843
2         8      8      206445654           417277164
3        12    6.4      191452396           368400000
4         3    7.9      245852179           239163000
5         6      8      261441092           370001000
6         9    8.5      223808164           297503696
7        11    8.4      415004880           648167031
8         1    8.3      191796233           170162503
9         7    7.2      244082982           217900167
10       10    8.3      293004164           438338580
11        4    8.1      289916256           272900000
12        2    7.2      162798565           200600000
13       13    7.2      237283207           301700000

1. Nous avons malheureusement atteint la fin de nos cours, nettoyons-nous en supprimant le tableau Movies

In [14]:
QUERY1 = "DROP TABLE Movies"

In [15]:
sqldf(QUERY1)

PandaSQLException: (sqlite3.OperationalError) no such table: Movies
[SQL: DROP TABLE Movies]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

2. Et virez également la table BoxOffice

In [16]:
QUERY2 = "DROP TABLE BoxOffice"

In [17]:
sqldf(QUERY2)

PandaSQLException: (sqlite3.OperationalError) no such table: BoxOffice
[SQL: DROP TABLE BoxOffice]
(Background on this error at: http://sqlalche.me/e/13/e3q8)