# Examen SQL: requêtes SELECT simples

Vous avez fait du bon travail pour en arriver là! Maintenant que vous avez compris comment écrire une requête de base, vous devez vous entraîner à écrire des requêtes qui résolvent des problèmes réels.

SELECT requête
``` mysql 
SELECT column, another_column, …
FROM mytable
WHERE condition(s)
ORDER BY column ASC/DESC
LIMIT num_limit OFFSET num_offset;
```

## Exercice

Dans l'exercice ci-dessous, vous travaillerez avec une table différente. Ce tableau contient plutôt des informations sur quelques-unes des villes les plus peuplées d'Amérique du Nord [[1]] (http://en.wikipedia.org/wiki/List_of_North_American_cities_by_population "Wikipédia: Amérique du Nord
villes par population "), y compris leur population et leur emplacement géospatial dans le monde.

**Le saviez-vous?** Les latitudes positives correspondent à l'hémisphère nord et les longitudes positives correspondent à l'hémisphère oriental. Puisque l'Amérique du Nord se trouve au nord de l'équateur et à l'ouest du méridien principal, toutes les villes de la liste ont des latitudes positives et des longitudes négatives.

Essayez d'écrire quelques requêtes pour trouver les informations demandées dans les tâches que vous connaissez. Vous devrez peut-être utiliser une combinaison différente de clauses dans votre requête pour chaque tâche. Une fois que vous avez terminé, passez à la leçon suivante pour en savoir plus sur les requêtes qui couvrent plusieurs tables.

In [1]:
x="""City	Country	Population	Latitude	Longitude
Guadalajara	Mexico	1500800	20.659699	-103.349609
Toronto	Canada	2795060	43.653226	-79.383184
Houston	United States	2195914	29.760427	-95.369803
New York	United States	8405837	40.712784	-74.005941
Philadelphia	United States	1553165	39.952584	-75.165222
Havana	Cuba	2106146	23.05407	-82.345189
Mexico City	Mexico	8555500	19.432608	-99.133208
Phoenix	United States	1513367	33.448377	-112.074037
Los Angeles	United States	3884307	34.052234	-118.243685
Ecatepec de Morelos	Mexico	1742000	19.601841	-99.050674
Montreal	Canada	1717767	45.501689	-73.567256
Chicago	United States	2718782	41.878114	-87.629798"""

**IMPORTANT : Afin de répondre aux questions de l'exercise d'insérer la requête entre les doubles quotes " "**

In [2]:
import pandas as pd

def to_df(s):
    l= [elt.split(';') for elt in s.replace("	", ";").split('\n')]
    return pd.DataFrame(l[1:], columns=l[0])

In [3]:
from pandasql import sqldf

In [4]:
North_american_cities = to_df(x)

In [5]:
North_american_cities

                   City        Country Population   Latitude    Longitude
0           Guadalajara         Mexico    1500800  20.659699  -103.349609
1               Toronto         Canada    2795060  43.653226   -79.383184
2               Houston  United States    2195914  29.760427   -95.369803
3              New York  United States    8405837  40.712784   -74.005941
4          Philadelphia  United States    1553165  39.952584   -75.165222
5                Havana           Cuba    2106146   23.05407   -82.345189
6           Mexico City         Mexico    8555500  19.432608   -99.133208
7               Phoenix  United States    1513367  33.448377  -112.074037
8           Los Angeles  United States    3884307  34.052234  -118.243685
9   Ecatepec de Morelos         Mexico    1742000  19.601841   -99.050674
10             Montreal         Canada    1717767  45.501689   -73.567256
11              Chicago  United States    2718782  41.878114   -87.629798

1. Énumérez toutes les villes canadiennes et leurs populations

In [14]:
QUERY1 = "SELECT City,Population from North_american_cities WHERE Country = 'Canada' "

In [15]:
sqldf(QUERY1)

       City Population
0   Toronto    2795060
1  Montreal    1717767

2. Classer toutes les villes des États-Unis selon leur latitude du nord au sud

In [12]:
QUERY2 = "SELECT * from North_american_cities ORDER BY latitude DESC"

In [13]:
sqldf(QUERY2)

                   City        Country Population   Latitude    Longitude
0              Montreal         Canada    1717767  45.501689   -73.567256
1               Toronto         Canada    2795060  43.653226   -79.383184
2               Chicago  United States    2718782  41.878114   -87.629798
3              New York  United States    8405837  40.712784   -74.005941
4          Philadelphia  United States    1553165  39.952584   -75.165222
5           Los Angeles  United States    3884307  34.052234  -118.243685
6               Phoenix  United States    1513367  33.448377  -112.074037
7               Houston  United States    2195914  29.760427   -95.369803
8                Havana           Cuba    2106146   23.05407   -82.345189
9           Guadalajara         Mexico    1500800  20.659699  -103.349609
10  Ecatepec de Morelos         Mexico    1742000  19.601841   -99.050674
11          Mexico City         Mexico    8555500  19.432608   -99.133208

3. Listez toutes les villes à l'ouest de Chicago, classées d'ouest en est

In [20]:
QUERY3 = "SELECT * from North_american_cities WHERE Longitude > -87 ORDER BY longitude ASC "

In [21]:
sqldf(QUERY3)

                  City        Country Population   Latitude   Longitude
0              Chicago  United States    2718782  41.878114  -87.629798
1              Houston  United States    2195914  29.760427  -95.369803
2  Ecatepec de Morelos         Mexico    1742000  19.601841  -99.050674
3          Mexico City         Mexico    8555500  19.432608  -99.133208

4. Énumérez les deux plus grandes villes du Mexique (par population)

In [22]:
QUERY4 = "SELECT * from North_american_cities WHERE Country= 'Mexico' ORDER BY Population DESC LIMIT 2   "

In [23]:
sqldf(QUERY4)

                  City Country Population   Latitude   Longitude
0          Mexico City  Mexico    8555500  19.432608  -99.133208
1  Ecatepec de Morelos  Mexico    1742000  19.601841  -99.050674

5. Énumérez les troisième et quatrième plus grandes villes (par population) des États-Unis et leur population

In [26]:
QUERY5 = "SELECT * from North_american_cities WHERE Country= 'United States' ORDER BY Population DESC LIMIT 2 OFFSET 2 "

In [27]:
sqldf(QUERY5)

      City        Country Population   Latitude   Longitude
0  Chicago  United States    2718782  41.878114  -87.629798
1  Houston  United States    2195914  29.760427  -95.369803